@model IEnumerable<SchoolManagementSystem.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary shadow-sm mb-3">
        <span class="me-1">➕</span> Add New Record
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="Edit" asp-route-date="@item.Date" asp-route-studentId="@item.StudentId"
                               class="btn btn-sm btn-warning fw-bold shadow-sm">
                            <i class="bi bi-pencil"></i> Edit
                        </a>

                        <a asp-action="Details" asp-route-date="@item.Date" asp-route-studentId="@item.StudentId"
                               class="btn btn-sm btn-info text-white fw-bold shadow-sm">
                            Details
                        </a>

                        <a asp-action="Delete" asp-route-date="@item.Date" asp-route-studentId="@item.StudentId"
                               class="btn btn-sm btn-danger fw-bold shadow-sm">
                            Delete
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
